/* CSS Document */
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}

/* `XHTML, HTML4, HTML5 Reset End
----------------------------------------------------------------------------------------------------*/
/*
  1200 Grid System ~ Core CSS.
  Licensed under GPL and MIT.
*/
body {
}
.wrap {
  margin-left: auto;
	margin-right: auto;
	width: 1200px;
	overflow: hidden;
}
.fwrap {
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.row {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23 .grid_24 {
	min-height: 1px;
	display: inline;
}
/* 3.85 8 12.15 16.3 20.45 24.6 28.75 32.9 37.05 41.2 45.35 49.5 53.65 57.8 61.95 66.1 70.25 74.4 78.55 82.7 86.85 91 95.15 99.3 */
.fwrap .grid_1, .fwrap .grid_2, .fwrap .grid_3, .fwrap .grid_4, .fwrap .grid_5, .fwrap .grid_6, .fwrap .grid_7, .fwrap .grid_8, .fwrap .grid_9, .fwrap .grid_10, .fwrap .grid_11, .fwrap .grid_12, .fwrap .grid_13, .fwrap .grid_14, .fwrap .grid_15, .fwrap .grid_16, .fwrap .grid_17, .fwrap .grid_18, .fwrap .grid_19, .fwrap .grid_20, .fwrap .grid_21, .fwrap .grid_22, .fwrap .grid_23, .fwrap .grid_24  {
	margin-left: 0.15%;
	margin-right: 0.15%;
	float: left;
}
.fwrap .grid_1 {
	width: 3.867%;
}
.fwrap .grid_2 {
	width: 8.033%;
}
.fwrap .grid_3 {
	width: 12.2%;
}
.fwrap .grid_4 {
	width: 16.367%;
}
.fwrap .grid_5 {
	width: 20.534%;
}
.fwrap .grid_6 {
	width: 24.7%;
}
.fwrap .grid_7 {
	width: 28.867%;
}
.fwrap .grid_8 {
	width: 33.03%;
}
.fwrap .grid_9 {
	width: 37.2%;
}
.fwrap .grid_10 {
	width: 41.366%;
}
.fwrap .grid_11 {
	width: 45.533%;
}
.fwrap .grid_12 {
	width: 49.7%;
}
.fwrap .grid_13 {
	width: 53.867%;
}
.fwrap .grid_14 {
	width: 58.034%;
}
.fwrap .grid_15 {
	width: 62.2%;
}
.fwrap .grid_16 {
	width: 66.37%;
}
.fwrap .grid_17 {
	width: 70.533%;
}
.fwrap .grid_18 {
	width: 74.7%;
}
.fwrap .grid_19 {
	width: 78.866%;
}
.fwrap .grid_20 {
	width: 83.033%;
}
.fwrap .grid_21 {
	width: 87.2%;
}
.fwrap .grid_22 {
	width: 91.367%;
}
.fwrap .grid_23 {
	width: 95.533%;
}
.fwrap .grid_24 {
	width: 99.7%;
}
.wrap .grid_1, .wrap .grid_2, .wrap .grid_3, .wrap .grid_4, .wrap .grid_5, .wrap .grid_6, .wrap .grid_7, .wrap .grid_8, .wrap .grid_9, .wrap .grid_10, .wrap .grid_11, .wrap .grid_12, .wrap .grid_13, .wrap .grid_14, .wrap .grid_15, .wrap .grid_16, .wrap .grid_17, .wrap .grid_18, .wrap .grid_19, .wrap .grid_20, .wrap .grid_21, .wrap .grid_22, .wrap .grid_23, .wrap .grid_24 {
	margin-left: 2px;
	margin-right: 2px;
	display: inline;
	float: left;
}
/*46 96 146 196 246 296 346 396 446 496 546 596 646 696 746 796 846 896 946 996 1046 1096 1146 1196 */
.wrap .grid_1 {
	width: 46px;
}
.wrap .grid_2 {
	width: 96px;
}
.wrap .grid_3 {
	width: 146px;
}
.wrap .grid_4 {
	width: 196px;
}
.wrap .grid_5 {
	width: 246px;
}
.wrap .grid_6 {
	width: 296px;
}
.wrap .grid_7 {
	width: 346px;
}
.wrap .grid_8 {
	width: 396px;
}
.wrap .grid_9 {
	width: 446px;
}
.wrap .grid_10 {
	width: 496px;
}
.wrap .grid_11 {
	width: 546px;
}
.wrap .grid_12 {
	width: 596px;
}
.wrap .grid_13 {
	width: 646px;
}
.wrap .grid_14 {
	width: 696px;
}
.wrap .grid_15 {
	width: 746px;
}
.wrap .grid_16 {
	width: 796px;
}
.wrap .grid_17 {
	width: 846px;
}
.wrap .grid_18 {
	width: 896px;
}
.wrap .grid_19 {
	width: 946px;
}
.wrap .grid_20 {
	width: 996px;
}
.wrap .grid_21 {
	width: 1046px;
}
.wrap .grid_22 {
	width: 1096px;
}
.wrap .grid_23 {
	width: 1146px;
}
.wrap .grid_24 {
	width: 1196px;
}
/* `Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.wrap .prefix_1 {
  padding-left: 50px;
}

.wrap .prefix_2 {
  padding-left: 100px;
}

.wrap .prefix_3 {
  padding-left: 150px;
}

.wrap .prefix_4 {
  padding-left: 200px;
}

.wrap .prefix_5 {
  padding-left: 250px;
}

.wrap .prefix_6 {
  padding-left: 300px;
}

.wrap .prefix_7 {
  padding-left: 350px;
}

.wrap .prefix_8 {
  padding-left: 400px;
}

.wrap .prefix_9 {
  padding-left: 450px;
}

.wrap .prefix_10 {
  padding-left: 500px;
}

.wrap .prefix_11 {
  padding-left: 550px;
}

.wrap .prefix_12 {
  padding-left: 600px;
}

.wrap .prefix_13 {
  padding-left: 650px;
}

.wrap .prefix_14 {
  padding-left: 700px;
}

.wrap .prefix_15 {
  padding-left: 750px;
}

.wrap .prefix_16 {
  padding-left: 800px;
}

.wrap .prefix_17 {
  padding-left: 850px;
}

.wrap .prefix_18 {
  padding-left: 900px;
}

.wrap .prefix_19 {
  padding-left: 950px;
}

.wrap .prefix_20 {
  padding-left: 1000px;
}

.wrap .prefix_21 {
  padding-left: 1050px;
}

.wrap .prefix_22 {
  padding-left: 1100px;
}

.wrap .prefix_23 {
  padding-left: 1150px;
}

/* `Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.wrap .suffix_1 {
  padding-left: 50px;
}

.wrap .suffix_2 {
  padding-left: 100px;
}

.wrap .suffix_3 {
  padding-left: 150px;
}

.wrap .suffix_4 {
  padding-left: 200px;
}

.wrap .suffix_5 {
  padding-left: 250px;
}

.wrap .suffix_6 {
  padding-left: 300px;
}

.wrap .suffix_7 {
  padding-left: 350px;
}

.wrap .suffix_8 {
  padding-left: 400px;
}

.wrap .suffix_9 {
  padding-left: 450px;
}

.wrap .suffix_10 {
  padding-left: 500px;
}

.wrap .suffix_11 {
  padding-left: 550px;
}

.wrap .suffix_12 {
  padding-left: 600px;
}

.wrap .suffix_13 {
  padding-left: 650px;
}

.wrap .suffix_14 {
  padding-left: 700px;
}

.wrap .suffix_15 {
  padding-left: 750px;
}

.wrap .suffix_16 {
  padding-left: 800px;
}

.wrap .suffix_17 {
  padding-left: 850px;
}

.wrap .suffix_18 {
  padding-left: 900px;
}

.wrap .suffix_19 {
  padding-left: 950px;
}

.wrap .suffix_20 {
  padding-left: 1000px;
}

.wrap .suffix_21 {
  padding-left: 1050px;
}

.wrap .suffix_22 {
  padding-left: 1100px;
}

.wrap .suffix_23 {
  padding-left: 1150px;
}
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16,
.push_17, .pull_17,
.push_18, .pull_18,
.push_19, .pull_19,
.push_20, .pull_20,
.push_21, .pull_21,
.push_22, .pull_22,
.push_23, .pull_23 {
  position: relative;
}

/* `Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.wrap .push_1 {
  left: 50px;
}

.wrap .push_2 {
  left: 100px;
}

.wrap .push_3 {
  left: 150px;
}

.wrap .push_4 {
  left: 200px;
}

.wrap .push_5 {
  left: 250px;
}

.wrap .push_6 {
  left: 300px;
}

.wrap .push_7 {
  left: 350px;
}

.wrap .push_8 {
  left: 400px;
}

.wrap .push_9 {
  left: 450px;
}

.wrap .push_10 {
  left: 500px;
}

.wrap .push_11 {
  left: 550px;
}

.wrap .push_12 {
  left: 600px;
}

.wrap .push_13 {
  left: 650px;
}

.wrap .push_14 {
  left: 700px;
}

.wrap .push_15 {
  left: 750px;
}

.wrap .push_16 {
  left: 800px;
}

.wrap .push_17 {
  left: 850px;
}

.wrap .push_18 {
  left: 900px;
}

.wrap .push_19 {
  left: 950px;
}

.wrap .push_20 {
  left: 1000px;
}

.wrap .push_21 {
  left: 1050px;
}

.wrap .push_22 {
  left: 1100px;
}

.wrap .push_23 {
  left: 1150px;
}

/* Right push
*/
.wrap .rpush_1 {
  right: 50px;
}

.wrap .rpush_2 {
  right: 100px;
}

.wrap .rpush_3 {
  right: 150px;
}

.wrap .rpush_4 {
  right: 200px;
}

.wrap .rpush_5 {
  right: 250px;
}

.wrap .rpush_6 {
  right: 300px;
}

.wrap .rpush_7 {
  right: 350px;
}

.wrap .rpush_8 {
  right: 400px;
}

.wrap .rpush_9 {
  right: 450px;
}

.wrap .rpush_10 {
  right: 500px;
}

.wrap .rpush_11 {
  right: 550px;
}

.wrap .rpush_12 {
  right: 600px;
}

.wrap .rpush_13 {
  right: 650px;
}

.wrap .rpush_14 {
  right: 700px;
}

.wrap .rpush_15 {
  right: 750px;
}

.wrap .rpush_16 {
  right: 800px;
}

.wrap .rpush_17 {
  right: 850px;
}

.wrap .rpush_18 {
  right: 900px;
}

.wrap .rpush_19 {
  right: 950px;
}

.wrap .rpush_20 {
  right: 1000px;
}

.wrap .rpush_21 {
  right: 1050px;
}

.wrap .rpush_22 {
  right: 1100px;
}

.wrap .rpush_23 {
  right: 1150px;
}

/* `Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/

.wrap .pull_1 {
  left: -50px;
}

.wrap .pull_2 {
  left: -100px;
}

.wrap .pull_3 {
  left: -150px;
}

.wrap .pull_4 {
  left: -200px;
}

.wrap .pull_5 {
  left: -250px;
}

.wrap .pull_6 {
  left: -300px;
}

.wrap .pull_7 {
  left: -350px;
}

.wrap .pull_8 {
  left: -400px;
}

.wrap .pull_9 {
  left: -450px;
}

.wrap .pull_10 {
  left: -500px;
}

.wrap .pull_11 {
  left: -550px;
}

.wrap .pull_12 {
  left: -600px;
}

.wrap .pull_13 {
  left: -650px;
}

.wrap .pull_14 {
  left: -700px;
}

.wrap .pull_15 {
  left: -750px;
}

.wrap .pull_16 {
  left: -800px;
}

.wrap .pull_17 {
  left: -850px;
}

.wrap .pull_18 {
  left: -900px;
}

.wrap .pull_19 {
  left: -950px;
}

.wrap .pull_20 {
  left: -1000px;
}

.wrap .pull_21 {
  left: -1050px;
}

.wrap .pull_22 {
  left: -1100px;
}

.wrap .pull_23 {
  left: -1150px;
}

/*Right pull*/

.wrap .rpull_1 {
  right: -50px;
}

.wrap .rpull_2 {
  right: -100px;
}

.wrap .rpull_3 {
  right: -150px;
}

.wrap .rpull_4 {
  right: -200px;
}

.wrap .rpull_5 {
  right: -250px;
}

.wrap .rpull_6 {
  right: -300px;
}

.wrap .rpull_7 {
  right: -350px;
}

.wrap .rpull_8 {
  right: -400px;
}

.wrap .rpull_9 {
  right: -450px;
}

.wrap .rpull_10 {
  right: -500px;
}

.wrap .rpull_11 {
  right: -550px;
}

.wrap .rpull_12 {
  right: -600px;
}

.wrap .rpull_13 {
  right: -650px;
}

.wrap .rpull_14 {
  right: -700px;
}

.wrap .rpull_15 {
  right: -750px;
}

.wrap .rpull_16 {
  right: -800px;
}

.wrap .rpull_17 {
  right: -850px;
}

.wrap .rpull_18 {
  right: -900px;
}

.wrap .rpull_19 {
  right: -950px;
}

.wrap .rpull_20 {
  right: -1000px;
}

.wrap .rpull_21 {
  right: -1050px;
}

.wrap .rpull_22 {
  right: -1100px;
}

.wrap .rpull_23 {
  right: -1150px;
}
/*Margin*/
.mt2 {
	margin-top: 2px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.fmr2 {
	margin-right: 0.5%;
}
.mr1 {
	margin-right: 1px;
}
.mr2 {
	margin-right: 2px;
}
ml0 {
	margin-left: 0px;
}
.ml1 {
	margin-left: 1px;
}
.mr2 {
	margin-left: 2px;
}
.last {
	margin-right: 0px;
}
/*Border*/
.bor {
	border: #D6D6D6 1px solid;
}
.tbor {
	border-top: #D6D6D6 1px solid;
}
.lbor {
	border-left: #D6D6D6 1px solid;
}
.rbor {
	border-right: #D6D6D6 1px solid;
}
.bbor {
	border-bottom: #D6D6D6 1px solid;
}
/*End Border*/
.l {
	float: left;
}
.r {
	float: right;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:before, .clearfix:after, .wrap:before, .wrap:after, .fwrap:before, .fwrap:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.wrap,
.fwrap {
  zoom: 1;
}
h1 {
	font-size: 26px;
	line-height: 28px;
}
h2 {
	font-size: 26px;
	line-height: 26px;
}
h3 {
	font-size: 22px;
	line-height: 26px;
}
h4 {
	font-size: 20px;
	line-height: 22px;
}
h5 {
	font-size: 18px;
	line-height: 20px;
}
h6 {
	font-size: 16px;
	line-height: 18px;
}


